<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>rainbow hearts</title>
  </head>
  <body>
    <p>
      made with <span class="heart">♡</span> by <a href="https://twitter.com/alexwlchan">@alexwlchan</a>, who loves how you look today
      •
      <a href="https://glitch.com/~rainbow-hearts">source code</a>
    </p>

    <div id="flag_image">
      {{ svg_xml | safe }}
    </div>

    {% if flags['left_flag'] == flags['right_flag'] %}
    <p>
      a mashup of the <a href="{{ flags['left_flag'] | url }}">{{ flags['left_flag'] | name }}</a> flag
    </p>
    {% else %}
    <p>
      a mashup of the
      <a href="{{ flags['left_flag'] | url }}">{{ flags['left_flag'] | name }}</a> and
      <a href="{{ flags['right_flag'] | url }}">{{ flags['right_flag'] | name }}</a> flags
    </p>
    {% endif %}
    <p>
      <a href="{{ url_for('index') }}">surprise me!</a> •
      <a href="{{ url_for('index', left_flag=flags['left_flag'] | name, right_flag=flags['right_flag'] | name)}}">permalink</a> •
      <a href="data:image/svg+xml;base64,{{ svg_xml | base64 }}" download="hearts_{{ flags['left_flag'] | name }}_{{ flags['right_flag'] | name }}.svg">download as svg</a>
    </p>
    <p>
      see also: <a href="http://rainbow-valknuts.glitch.me">rainbow valknuts</a>
    </p>
  </body>
</html>
